.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
    min-height: 100vh;
    gap: 80px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 5px solid #112A46;
    padding: 20px 20px;
    background: rgba(216, 151, 60, 0.2);
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    background-image: linear-gradient(to right top, #034c36, #004b3b, #004940, #024844, #0a4646);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.2s ease-in-out;
}

.services-title h1:hover{
    background-position: var(--mouse-x, center);
}
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    /* Removed margin to keep container within the parent's border */
    /* margin-bottom: 80px; */
    /* margin: 0 auto; */
    padding: 0; /* Remove padding here as it's added to the parent .services */
    max-width: 1200px;
    box-sizing: border-box;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid #112A46;
    transition: 0.4s;
    cursor: pointer;
    /* Adjusted margin and padding */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.services-format h3{
    color:#112A46;
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background-image: linear-gradient(to right top, #2ec4b6, #21a39a, #17827e, #0f6362, #0a4646);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #112A46;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    border: 2px solid #198b85;
    background-image: linear-gradient(45deg, #3f1142, #110323);
    transform: scale(1.05);
    transition: 0.4s;
    color:antiquewhite;
    p{
        color:antiquewhite;
    }
    h3{
        color:antiquewhite;
    }
}



